version: '3.5'

services:

    service.nginx:
      image: nginx:latest
      container_name: nginx-embyUrl
      ports:
        - 8097:80
      volumes:
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf
        - ./nginx/conf.d:/etc/nginx/conf.d
      restart: always